:root{
    --header-background-color: #264653;
    --header-primary-text-color: #FFFFFF;
    --header-secondary-text-color: #E0E0E0;
    --button-color: #E76F51;
    --secondary-color: #6C6C6C;
    --accordian-body-text-color: #7E848C;
}
*{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
}

header{
    background-color: var(--header-background-color);
    
}
.title-text-weight{
    font-weight: 600;
    overflow: hidden;
}

.secondary-text-color{
    color: var(--header-secondary-text-color);
}
.my-button{
    background-color: var(--button-color);
    color: var(--header-primary-text-color);
    padding: 10px 46px;
    border-radius: 10px;
}
.my-button-color{
    color: var(--button-color);
}

.grayscale{
    filter: grayscale(100%);
}
.accordian-body-text{
    color: var(--accordian-body-text-color);
}
.my-secondary-color{
    color: var(--secondary-color);
}
footer{
    background-color: var(--header-background-color);
    color: var(--header-primary-text-color);
    height: 115px;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}