:root{
    --header-background-color: #264653;
    --header-text-color: #FFFFFF;
    --button-color: #E76F51;
    --bold-text-color: #0A0826;
    --secondary-color: #6C6C6C;
    --background: #E5E5E5;
}
*{
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    padding: 0; */
}

header{
    background-color: var(--header-background-color);
}
.title-text-weight{
    font-weight: 600;
}
.my-button{
    background-color: var(--button-color);
    color: var(--header-text-color);
    padding: 10px 46px;
    border-radius: 10px;
}
